* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#calc-wrapper {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border: solid 1px black;
    padding: 20px;
}

#input-wrapper {
    width: 100%;
}

#input-feet {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: right;
}

button {
    border: none;
    box-shadow: 2px 2px 5px gray;
    margin: 5px 0;
    width: 100%;
    padding: 15px;
}

#btn-convert:hover {
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
}

#btn-reset:hover {
    background-color: lightcoral;
    color: white;
    cursor: pointer;
}

#results {
    margin-top: 10px;
}

.conversion {

    width: 100%;
    margin: 10px;
    padding: 15px;
    text-align: right;
}

.conversion:nth-of-type(odd) {
    background-color: lightgray;
}
.conversion:nth-of-type(even) {
    background-color: lightcoral;
}